services:
  - type: web
    name: interest-calculator
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    plan: free
    branch: main
    numInstances: 1
    healthCheckPath: /
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.5
